@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    line-height: 1.6;
}
img{
    width:80%;
    display: block;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 15px 0;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-sec{
    color: black;
    background-color: skyblue;
}

.brand-and-navBtn{
    background: rgb(3, 150, 208);
    position: relative;
    z-index: 999;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 800;
    font-size: 24px;
    padding: 15px 25px;
    color: black;
}
.top-nav ul li{
    padding: 10px 0;
}
.top-nav ul a{
    position: relative;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: block;
}
.top-nav ul{
    display: flex;
    justify-content: space-around;
    background-color: skyblue;
    border: 2px solid black;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-around;
    padding: 25px 10px 10px 10px;

}
.about-content h3{
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    font-weight: 150;
}
.about-content p{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    font-weight: 150;
}
.header-container{
    padding: 10px;
}
.about-content h1{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 90px;
    letter-spacing: 2px;
}
.social-icons{
    width: 400px;
    margin: 40px auto 0 auto;
    padding-bottom: 20px;
}
.social-icons ul a{
    color: black;
    font-size: 30px;
    display: block;
    width: 80px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5 ease;
}
.social-icons ul{
    display: flex;
    justify-content: space-between;
}
.social-icons ul a:hover{
    background-color:white;
    border-color:black;
}
.section-one{
    background-color: rgb(3, 150, 208);
    margin-top: 0;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 20px 0px 20px ;
    padding-top: 60px;
    padding-bottom: 60px;
}
.sec-one-left{
    padding: 10px;
    align-items: center;
}
#myPic{
    border-radius: 50%;
    border: 5px solid white;
}
.sec-one-right h2{
    font-size: 70px;
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 2px;

}
.sec-one-right p{
    font-size: 20px;
}
.sec-one-right{
    padding: 10px;
}
.section-two{
    width: 100%;
    min-width: 570px;
    position: relative;
    background-color: skyblue;
    padding: 8px;
    margin-bottom: 0px;
}
.section-two h2{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 2px;

}
.skillbox{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
    align-items: center;
    margin: 0 8rem;
}
.section-two .skillbox img{
    height: 3.5rem;
    width: auto;
    
}
.section-two .skillbox div:hover{
    box-shadow: 0px 0px 10px rgb(3, 120, 167);
    
}
.skillbox div{
    display: flex;
    flex-direction: column;
    background: linear-gradient(white,rgb(189, 234, 253));
    border-radius: 5px;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0.9rem;
    border: 2px solid rgb(3, 150, 208);
    font-size: 1.4rem;
    font-weight: bold;
}
.section-three{
    background-color: rgb(3, 150, 208);
    margin: 0px;
    align-items: center;
}
.section-three h2{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 2px;
}
.project-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin: 0.6rem auto;
    font-size: 30px;
    width: 80%;
}
.Project-container{
    background-size: cover;
    text-align: left;
}
.p-img{
    border: 2px solid black;
    height: 10rem;
}
.section-four{
    margin: 0px;
    background-color: skyblue;
}

.section-four .contact-box div{
    margin:  0;
}
.contact-top{
    text-align: center;
}
.contact-top h2{
    font-size: 70px;
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 2px;

}
.contact-top p{
    font-weight: 300;
    width: 70%;
    margin: 5px auto;
    font-size: 20px;
}
.contact-bottom{
    margin-top: 0px!important;
    display: flex;
}
.form input[type = "text"],.form input[type = "email"],.form textarea{
    width: 100%;
    font-size: 16px;
    padding: 10px 15px;
    margin: 10px ;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
}
.contact-bottom .form{
    padding: 0 20px;
}
.contact-middle{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 6px;
    width: 50%;
}
.contact-middle div{
    text-align: center;
    padding: 14px 0;
    background: lightblue;
    color: black;
    border:2px solid white;
}
.contact-middle div span{
    display: block;
}
.contact-icon{
    font-size: 10px;
}

.contact-middle div p{
    font-weight: 300;
    opacity: 0.7;
}
.footer{
    background: rgb(3, 150, 208);
    color: black;
    padding: 20px 20px;
    text-align: center;
}
.footer-container{
    display: flex;
    flex-direction: row;
}
.footer-container > div{
    margin: 10px 0;
}
.footer-container h2{
    color: black;
    font-size: 36px;
    font-weight: 500;
}
.footer-container p{
    font-size: 15px;
}

.footer >p{
    text-align: center;
    font-size: 14px;
}
.footer-text{
    font-family: 'Mouse Memoirs', sans-serif;
    width: 50%;
}
.footer-text  h2{
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 2px;

}
.footer-text  p{
    text-align: left;

}
.btn{
    background: rgb(3, 150, 208);
    border: none;
    display:block;
    width: 150px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    background: transparent;
    font-size: 15px;
    font-weight: bold;
    padding: 12px;
    border: 2px solid rgb(3, 150, 208);
    border-radius: 25px;
    margin: 15px 0;
    transition: all 2s ease;
}
.btn:hover{
    background: rgb(3, 150, 208);
    color: white;
}
@media screen and (min-device-width: 820px) and (max-device-width: 1180px) { 
    .container1{
        display: flex;
        flex-direction: column;
    }
    .container1 #mypic{
        height: 45px;
        width: auto;
    }
    .container1 .sec-one-left{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .skillbox{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
        align-items: center;
        margin: 0 8rem;
    }

    .project-box{
        display: flex;
        align-items: center;
    }
    .contact-bottom{
        padding: 1rem;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .footer-text{
        width: 100%;
    }
    .contact-middle{
        width: 100%;
    }
}